/* @import "taiwindcss"; */


body{
    font-family: sans-serif;
    line-height : 1.6;
    margin : 0;
    padding:0;
    color:white;
    background-color:black;
    
}

h1{
    text-align : center;
    padding : 20px;
}

.container{
    max-width : 700px;
    margin : 0 auto;
    padding : 20px;
}

.spacer{
    height: 600px
}

.lazy-img{
    display : block;
    width : 100%;
    height: auto;
    margin : 30px;
    opacity : 0;
    transition : opacity 0.5s ease;

}

.lazy-img.loaded{
    opacity : 1;
}