@import "tailwindcss";

/* body{
    @apply text-2xl bg-gray-900;
} */
#root{
    @apply text-2xl bg-gray-900 min-h-screen min-w-screen flex flex-col items-center justify-center;
}

.btn{
    @apply border bg-gray-700 m-2.5 p-2 rounded-2xl min-w-20 min-h-15 text-white text-2xl font-bold hover:bg-gray-600 transition-all duration-370;
}