@import "tailwindcss";

body{
    @apply transition-colors duration-300;
}


.btn{
    @apply border border-amber-300 
           flex  items-center justify-center 
           min-w-8 h-8
           px-3 rounded-xl 
           hover:bg-amber-300 hover:text-black 
           transition-all duration-200
           cursor-pointer select-none;
}
